<div>
  <h1>Other Tennis In The La Crosse Area</h1>
  <div class="text-content">
  <h5>Adults Only</h5>
  <ul class="text-content">
    <li><a href="https://www.couleeregiontennis.com/ltta.cfm">La Crosse Team Tennis Association(LTTA)</a></li>
    <li><a href="https://www.usta.com/en/home/play/adult-tennis/programs/midwest/wisconsin/lacrosse-league.html">USTA - Men's Doubles, Women's Doubles, Mixed</a></li>
  </ul>
  </div>
  <div class="text-content">
    <h5>High School Players Only</h5>
    <ul class="text-content">
      <li><a href="https://www.couleeregiontennis.com/usta-junior-team-tennis-coulee-region.cfm">USTA Junior Tennis</a></li>
      <li><a href="https://www.couleeregiontennis.com/usta-junior-team-tennis-coulee-region.cfm">USTA Junior Tennis</a></li>
    </ul>
  </div>
  <div class="text-content">
    <h5>Other</h5>
    <ul>
      <li><a href="https://www.holmenwi.com/tennis">Holmen Parks And Rec Tennis Programs</a></li>
    </ul>
  </div>
</div>
