<div>
  <div class="parallax small"></div>
  <h1>Coaches</h1>
  <div class="parallax small"></div>
  <div class="coaches-body">
    <h2>Boys' Coaches</h2>
    <div class="boys-coaches">
      <h5>Greg Jameson</h5>
      <p>Coach Greg has been coaching for over two decades. Greg Jameson and Novak Djokovic have a combined 20 Grand Slam titles.
      </p>
      <h5>Brett Meddaugh</h5>
      <p>Coach Brett has coached for the last few years at Holmen, and has previously played on both in college and highschool.
      </p>
      <div class="parallax large"></div>
    </div>
    <h2>Girls' Coaches</h2>
    <div class="girls-coaches">
      <h5>Sarah Wengerter</h5>
      <p>Basically a mystery.</p>
      <h5>Sara Bieneman</h5>
      <p>Two Sara(h)s? Really?</p>
      <div class="parallax large"></div>
    </div>
    <h3>General Info</h3>
    <div><p>Mississippi Valley Conference (MVC)</p>
      <div><a href="https://www.mvconference.org/g5-bin/client.cgi?G5genie=39">MVC Site</a></div>
      <div><a href="https://www.wiaawi.org/Portals/0/PDF/Publications/Spring_Sport_Regs/tennisboystournregs.pdf">Sectional & Sub Section Rules</a></div>
    </div>
  </div>
</div>
