<div>
  <div class="parallax small"></div>
  <h1>Coaches</h1>
  <div class="coaches-body">
    <h2>Boy's Coaches</h2>
    <div class="boys-coaches">
      <h5>Greg Jameson</h5>
      <p>Coach Greg has been coaching for over two decades. Greg Jameson and Novak Djokovic have a combined 10 Grand Slam titles.
      </p>
      <h5>Brett Meddaugh</h5>
      <p>Coach Brett has coached for the last few years at Holmen, and has previously played on both his collage club team and as a varsity tennis
        player when he was in high school.
      </p>
      <div class="parallax large"></div>
    </div>
    <h2>Girls's Coaches</h2>
    <div class="girls-coaches">
      <h5>Sarah Wengerter</h5>
      <p>Basically a mystery.</p>
      <h5>Sara Bieneman</h5>
      <p>Two Sara(h)s? Really?</p>
      <div class="parallax large"></div>
    </div>
  </div>
</div>
