<div class="about-content">
  <div class="parallax"></div>
  <ul class="text-content">
    <h3>How do I register to play on the team?</h3>
    <li>The player will need a physical on file with the school, which can be found <a targert="_blank" href="https://www.holmen.k12.wi.us/activities_athletics/Athletics/Physical%20Card.pdf">here.</a></li>
    <li>The player will also need to turn in a registration form found <a target="_blank" href="https://holmenhs-ar.rschooltoday.com/node/69">here.</a></li>
  </ul>
  <div class="parallax"></div>
  <ul class="text-content">
    <h3>What do I need to play?</h3>
    <li>Racket- These can be bought locally at somewhere like Dicks Sporting Goods or Walmart, however online retailers like Tennis Warehouse,
      Tennis Express or tennis-point, have a much better selection. They also have a demo progam so the player could try out several rackets to
      find one they like.</li>
      <li>Water Bottle- Please bring one large enough to get through a match without needing refills, as that is not always possible.</li>
      <li>Uniform- These are ordered every year by the team in the first few weeks.</li>
      <li>Shorts/Tennis Skirts- Please have shorts that don't clash with the school colors too badly, and they <b>MUST</b> have somewhere to store
        at least one tennis ball.</li>
        <li>Sweater- We do have a team sweater, you will most likely want a sweater or jacket as it's not always nice out!</li>
      </ul>
  <div class="parallax"></div>
  <ul class="text-content">
    <h3>Does Holmen Highschool have tennis courts?</h3>
    <li>It doesn't. Unfortunately, our four courts are located at Viking Elementary School.</li>
  </ul>
  <div class="parallax"></div>
  <ul class="text-content">
    <h3>How does my player get to there after school?</h3>
    <li>Historically players drive, give each other rides there, or they can take a nearby school bus after they let a coach know.</li>
  </ul>
  <div class="parallax"></div>
  <ul class="text-content">
    <h3>Can I fix my broken tennis racket?</h3>
    <li>We are able to get rackets restrung, and usually fix grommets at a minimal cost. Please talk to the coaches for more info on this.</li>
    <li>A racket which is developing cracks that is not repairable.</li>
  </ul>
  <div class="parallax"></div>
  <ul class="text-content">
    <h3>What do we do if the weather is bad?</h3>
    <li>For pratice days, we are often able to get gym time in the new Gym D where we have a full size tennis court. Please be prepared
      to play inside on bad weather days, and bring your gear to school.
    </li>
    <li>Match days are often either delayed or rescheduled. The coaches will do our best to keep you updated, however these calls are often made
      day of; a few hours before.
    </li>
  </ul>
  <div class="parallax"></div>
</div>
